page-localization {
    #mapa{
        background-image: url('../assets/imgs/mapa.PNG');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
}
